@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");

:root {
  /* Primary */
  --red: hsl(0, 100%, 68%);

  /* Neutral */
  --very-dark-blue: hsl(230, 29%, 20%);
  --dark-grayish-blue: hsl(230, 11%, 40%);
  --grayish-blue: hsl(231, 7%, 65%);
  --light-grayish-blue: hsl(207, 33%, 95%);

  /* Fonts */
  --barlow: "Barlow", sans-serif;
  --barlow-condensed: "Barlow Condensed", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1.125rem;
  font-weight: 400;
  font-family: var(--barlow);
}

.wrapper {
  overflow-x: hidden;
  overflow-y: visible;
  position: relative;
}

.background {
  background-color: var(--light-grayish-blue);
  height: 55vh;
  border-radius: 0 0 0 50px;
  z-index: -1;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
}

h1,
h3,
nav a,
button {
  font-family: var(--barlow-condensed);
}

button {
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline 2px;
}

.container {
  margin: 25px auto;
  width: 80%;
  max-width: 1200px;
  display: flex;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  width: 85%;
  list-style: none;
  padding: 0;
  background: white;
  text-align: center;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  left: 50%;
  top: 80px;
  z-index: 10;
  transform: translateX(-50%);
  display: none;
}

.nav-item {
  margin: 1.1em auto;
}

.nav-item a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

.nav-divider {
  width: 80%;
}

.nav-login a {
  color: var(--grayish-blue);
}

.nav-toggle {
  border: none;
  background: none;
  padding: 0;
}

.close-list {
  display: none;
}

.show-close {
  display: block;
}

.hide-open {
  display: none;
}

.show-menu {
  display: block;
}

.main-container {
  flex-direction: column-reverse;
  align-items: left;
  margin-top: 2.5em;
  justify-content: space-between;
  gap: 2.5em;
}

.main-picture img {
  transform: translateX(-5%);
  width: 165%;
}

h1 {
  text-transform: uppercase;
}

h3 {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--grayish-blue);
  letter-spacing: 0.2em;
}

h3 span {
  background: var(--very-dark-blue);
  color: white;
  padding: 0.2em 0.65em;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: initial;
  margin-right: 0.5em;
}

.cta {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.demo-button {
  background: var(--red);
  color: white;
  font-weight: 700;
  border: none;
  padding: 0.5em 0.7em;
  border-radius: 5px;
  text-transform: uppercase;
}

.demo-button:hover,
.demo-button:focus {
  opacity: 0.6;
}

/* Desktop */

@media (min-width: 1000px) {
  .background {
    height: 60%;
  }

  .nav-logo {
    height: fit-content;
    align-self: center;
  }

  .nav-list {
    display: flex;
    width: 40%;
    background: none;
    box-shadow: none;
    position: relative;
    margin: 0;
    padding: 0;
    top: auto;
    left: auto;
    transform: none;
    justify-content: right;
    align-items: center;
  }

  .nav-login {
    position: relative;
    margin-left: 5em;
  }

  .nav-login::before {
    content: ".";
    position: absolute;
    right: 2.1em;
    top: -0.65em;
    font-size: 40px;
    color: var(--grayish-blue);
  }

  .nav-divider {
    display: none;
  }

  .nav-toggle {
    display: none;
  }

  .main-container {
    flex-direction: row;
    margin-top: 8em;
  }

  .main-text {
    width: 70%;
  }

  h1 {
    font-size: 3.8rem;
  }

  .main-text p {
    width: 60%;
    font-size: 1.2rem;
  }

  .main-picture img {
    width: 180%;
    transform: translateX(1%);
  }
}
